.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}

.full-width {
  width: 100%;
}
