<div class="login-container">
  <h2>Se connecter</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required>
      <mat-error *ngIf="loginForm.get('email')?.invalid">Ce champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input formControlName="password" matInput required type="password">
      <mat-error *ngIf="loginForm.get('password')?.invalid">Le mot de passe doit avoir au moins 8 caractères</mat-error>
    </mat-form-field>

    <button [disabled]="loginForm.invalid" class="btn-default-color" mat-raised-button type="submit">Se connecter
    </button>
  </form>
</div>
