<app-go-back-button></app-go-back-button>
<div class="login-container">
    <img alt="mdd logo" src="assets/logo_p6.png">
    <h2>Se connecter</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput required>
            <mat-error *ngIf="loginForm.get('email')?.invalid">{{ errorsFormMessage.email.format }}</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                {{ errorsFormMessage.required }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input formControlName="password" matInput required type="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                {{ errorsFormMessage.required }}
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
                {{ errorsFormMessage.password.pattern }}
            </mat-error>
        </mat-form-field>

        <button [disabled]="loginForm.invalid" class="btn-default" mat-raised-button type="submit">Se connecter
        </button>
    </form>
</div>
