<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="login-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email')?.invalid">Ce champ est requis</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.invalid">Le mot de passe doit avoir au moins 8 caractères</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Se connecter</button>

    <p *ngIf="onError" class="error">Un erreur s'est produite</p>
  </div>

</form>
