<mat-grid-list [cols]="cols" class="card-container" cols="2" gutterSize="16px" rowHeight="200">
  <ng-container *ngIf="cardItems$ | async as items">
    <ng-container *ngIf="items === undefined || items.length  == 0 ">
      <span class="not-items">Aucun élément présent</span>
    </ng-container>

    <mat-grid-tile *ngFor="let item of items">
      <mat-card class="item-card">
        <mat-card-header>
          <!--Articles -->
          <mat-card-title *ngIf="isArticle(item)">
            <a [routerLink]="['/article/detail-profile-article-article',item.id]"
               class="title"> {{ item.title | titlecase }} </a>
          </mat-card-title>

          <!--Subject -->
          <ng-container *ngIf="isSubject(item)">
            <p class="title">{{ item.title | titlecase }}</p>
          </ng-container>
        </mat-card-header>

        <mat-card-content>
          <!--Articles -->
          <ng-container *ngIf="isArticle(item)">
            <p class="subtitle">{{ item.createdAt | date:'dd/MM/yyyy' }} - {{ item.author | titlecase }}</p>
            <p class="content">{{ item.content |truncate }}</p>
          </ng-container>

          <!--Subject -->
          <ng-container *ngIf="isSubject(item)">
            <p class="content">{{ item.description |truncate }}</p>
          </ng-container>
        </mat-card-content>

        <!--Subject -->
        <div class="card-actions">
          <ng-container *ngIf="isSubject(item)">
            <button (click)="onButtonClick(item.id)"
                    [disabled]="!canUnsubscribe && item.isSubscribed || (canUnsubscribe && item.isSubscribed === null)"
                    class="subscribe-btn btn-default-color"
                    mat-raised-button>

              <ng-container *ngIf="!canUnsubscribe">
                S'abonner
              </ng-container>

              <ng-container *ngIf="canUnsubscribe">
                {{ item.isSubscribed ? "Se désabonner" : "S'abonner" }}
              </ng-container>
            </button>
          </ng-container>
        </div>
      </mat-card>
    </mat-grid-tile>
  </ng-container>

</mat-grid-list>

