<mat-grid-list [cols]="cols" class="card-container" cols="2" gutterSize="16px" rowHeight="250">
  <mat-grid-tile *ngFor="let item of items | async">
    <mat-card class="article-card">
      <mat-card-header>
        <!--Articles -->
        <mat-card-title *ngIf="isArticle(item)">
          <a [routerLink]="['/article/detail-article',item.id]"> {{ item.title }} </a>
        </mat-card-title>

        <!--Subject -->
        <ng-container *ngIf="isSubject(item)">
          <p>{{ item.title }}</p>
        </ng-container>
      </mat-card-header>

      <mat-card-content>
        <!--Articles -->
        <ng-container *ngIf="isArticle(item)">
          <p>{{ item.createdAt | date:'dd/MM/yyyy' }} - {{ item.author | titlecase }}</p>
          <p>{{ item.content }}</p>
        </ng-container>

        <!--Subject -->
        <ng-container *ngIf="isSubject(item)">
          <p>{{ item.description }}</p>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<p *ngIf="!(items | async)?.length">Aucun contenu disponible !</p>
