<div class="profile-container">
    <mat-card>
        <h1>Profil utilisateur</h1>
        <form (ngSubmit)="saveProfile()" [formGroup]="profileForm">
            <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input formControlName="profileName" matInput>
                <mat-error
                        *ngIf="profileForm.get('profileName')?.hasError('minlength') && profileForm.get('profileName')?.touched">
                    {{ errorsFormMessage.user.profileName.minLength }}
                </mat-error>
                <mat-error
                        *ngIf="profileForm.get('profileName')?.hasError('maxlength') && profileForm.get('profileName')?.touched">
                    {{ errorsFormMessage.user.profileName.maxLength }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email">
                <mat-error *ngIf="profileForm.get('email')?.hasError('email') && profileForm.get('email')?.touched">
                    {{ errorsFormMessage.required }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input formControlName="password" matInput type="password" autocomplete>
                <mat-error
                        *ngIf="profileForm.get('password')?.hasError('pattern') && profileForm.get('password')?.touched">
                    {{ errorsFormMessage.password.pattern }}
                </mat-error>
            </mat-form-field>

            <div class="actions">
                <button [disabled]="profileForm.invalid ||formHasNotInputValue() " color="primary" mat-raised-button type="submit">
                    Sauvegarder
                </button>
                <button (click)="onLogout()" class="title logout-btn" color="warn" mat-button>Se déconnecter</button>
            </div>
        </form>
    </mat-card>
</div>
<hr/>

<div class="subscribe-container">
    <h1>Abonnements</h1>
    <app-card (onBtnAction)="onUnsubscribe($event)" [canUnsubscribe]="true" [cardItems$]="items$"
              [itemType]="{type: 'topic'}"/>
</div>
