.feed-container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.feed-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.feed-sort {
  display: flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 480px) {
  .feed-btn {
    flex-direction: column;
    justify-content: center;
  }

  .feed-btn {
    padding: 8px;
  }
}
