<section class="feed-container">
  <div class="feed-btn">
    <div class="create-article">
      <button color="primary" mat-raised-button routerLink="/article/create">Créer un article
      </button>
    </div>
    <div>
      <mat-menu #sortMenu="matMenu">
        <button (click)="onSort('asc')" mat-menu-item>
          <mat-icon>arrow_upward</mat-icon>
          Date croissante
        </button>
        <button (click)="onSort('desc')" mat-menu-item>
          <mat-icon>arrow_downward</mat-icon>
          Date décroissante
        </button>
      </mat-menu>
      <div class="feed-sort">
        <span class="title">Trier par</span>
        <button [matMenuTriggerFor]="sortMenu" mat-icon-button>
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-card-article [cardItems$]="items$"/>
</section>
