<ng-container *ngIf="cardItems$ | async as items">
    <mat-grid-list [cols]="items.length > 1 ? cols : 1" class="card-container" cols="2" gutterSize="16px"
                   rowHeight="200">
        <ng-container *ngIf="items === undefined || items.length  == 0">
            <span class="not-items">Aucun élément présent</span>
        </ng-container>

        <mat-grid-tile *ngFor="let item of items">
            <mat-card class="item-card">
                <mat-card-header>
                    <!--Articles -->
                    <mat-card-title *ngIf="isArticle(item)">
                        <a [routerLink]="['/article/detail-profile-article-article',item.id]"
                           class="title"> {{ item.title | titlecase }} </a>
                    </mat-card-title>

                    <!-- Topics -->
                    <ng-container *ngIf="isTopic(item)">
                        <p class="title">{{ item.title | titlecase }}</p>
                    </ng-container>
                </mat-card-header>

                <mat-card-content>
                    <!--Articles -->
                    <ng-container *ngIf="isArticle(item)">
                        <p class="subtitle">{{ item.createdAt | date:'dd/MM/yyyy' }} - {{ item.author | titlecase }}</p>
                        <p class="content crop">{{ item.content }}</p>
                    </ng-container>

                    <!-- Topics -->
                    <ng-container *ngIf="isTopic(item)">
                        <p class="content crop">{{ item.description }}</p>
                    </ng-container>
                </mat-card-content>

                <!-- Topics -->
                <div class="card-actions">
                    <ng-container *ngIf="isTopic(item)">
                        <button (click)="onButtonClick(item.id)"
                                [disabled]="!canUnsubscribe && item.isSubscribed || (canUnsubscribe && item.isSubscribed === null)"
                                class="subscribe-btn"
                                color="primary"
                                mat-raised-button>

                            <ng-container *ngIf="!canUnsubscribe">
                                S'abonner
                            </ng-container>

                            <ng-container *ngIf="canUnsubscribe">
                                {{ item.isSubscribed ? "Se désabonner" : "S'abonner" }}
                            </ng-container>
                        </button>
                    </ng-container>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>
