
.card-container {
  width: 100%;
  padding: 16px;
  margin-top: 25px;
}

.item-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

mat-grid-tile {
  max-width: 100%;
  overflow: hidden;
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.not-items {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #673ab7;
}

.card-actions button.mat-mdc-button-disabled {
  background-color: gray !important;
  color: white;
}
