<app-go-back-button></app-go-back-button>
<form (ngSubmit)="onSubmit()" [formGroup]="articleForm" class="form-container">
  <h1>Créer un nouvel article</h1>
  <mat-form-field appearance="outline">
    <mat-label>Thème</mat-label>
    <mat-select formControlName="subject">
      <mat-option *ngFor="let subject of subject$ | async" [value]="subject.id">{{ subject.title }}</mat-option>
    </mat-select>
    <mat-error *ngIf="articleForm.get('subject')?.hasError('required') && articleForm.get('subject')?.touched">
      {{ errorsFormMessage.required }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input formControlName="title" matInput placeholder="Titre de l'article">
    <mat-error *ngIf="articleForm.get('title')?.hasError('required') && articleForm.get('title')?.touched">
      {{ errorsFormMessage.required }}
    </mat-error>
    <mat-error *ngIf="articleForm.get('title')?.hasError('minLength') && articleForm.get('title')?.touched">
      {{ errorsFormMessage.article.title.minLength }}
    </mat-error>
    <mat-error *ngIf="articleForm.get('title')?.hasError('maxLength') && articleForm.get('title')?.touched">
      {{ errorsFormMessage.article.title.maxLength }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contenu</mat-label>
    <textarea cols="50" formControlName="content" matInput placeholder="Contenu de l'article" rows="8"></textarea>
    <mat-error *ngIf="articleForm.get('content')?.hasError('required') && articleForm.get('content')?.touched">
      {{ errorsFormMessage.required }}
    </mat-error>
    <mat-error *ngIf="articleForm.get('content')?.hasError('maxlength')">
      {{ errorsFormMessage.article.content.maxLength }}
    </mat-error>
    <mat-error *ngIf="articleForm.get('content')?.hasError('minLength')">
      {{ errorsFormMessage.article.content.minLength }}
    </mat-error>
  </mat-form-field>

  <button [disabled]="articleForm.invalid" class="btn-default" mat-raised-button type="submit">Créer</button>
</form>
