.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 600px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

button {
  width: 50%;
  align-self: center;
}

@media (max-width: 600px) {
  .form-container {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .form-container {
    max-width: 300px;
  }
}

