<form (ngSubmit)="onSubmit()" [formGroup]="articleForm" class="form-container">
  <h1>Créer un nouvel article</h1>
  <mat-form-field appearance="outline">
    <mat-label>Thème</mat-label>
    <mat-select formControlName="subject">
      <mat-option *ngFor="let subject of subject$ | async" [value]="subject.id">{{ subject.title }}</mat-option>
    </mat-select>
    <mat-error *ngIf="articleForm.get('subject')?.hasError('required') && articleForm.get('subject')?.touched">
      This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input formControlName="title" matInput placeholder="Titre de l'article">
    <mat-error *ngIf="articleForm.get('title')?.hasError('required') && articleForm.get('title')?.touched">
      Titre obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contenu</mat-label>
    <textarea cols="50" formControlName="content" matInput placeholder="Contenu de l'article" rows="8"></textarea>
    <mat-error *ngIf="articleForm.get('content')?.hasError('required') && articleForm.get('content')?.touched">
      Contenu obligatoire
    </mat-error>
    <mat-error *ngIf="articleForm.get('content')?.hasError('maxlength')">
      2000 caractères au maximum
    </mat-error>
  </mat-form-field>

  <button [disabled]="articleForm.invalid" class="btn-default-color" mat-raised-button type="submit">Créer</button>
</form>
