@use "sanitize";
@use "override-material";

$primary-color: #7763C5;

body {
  font-family: Inter, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  padding: 8px !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.isActiveLink {
  color: $primary-color !important;
}


/* Card */
.card-container {
  width: 100%;
  padding: 16px;
  margin-top: 25px;

  .title {
    margin-bottom: 16px;
  }
}

.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.not-items {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #673ab7;
}

/* Card */

/* Article and Topic */
.title {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}

.subtitle {
  color: black;
  font-size: 14px;
}

.content {
  font-size: 14px;
  color: black;

  &.crop {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: 250px;
  }
}

/* Article and Topic */
