@use "sanitize";
@use "override-material";

$primary-color: #7763C5;

.mat-app-background {
  background-color: white !important;
}

.mat-drawer-container {
  background-color: white !important;
}


body {
  font-family: Inter, "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
}

h2 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.isActiveLink {
  color: $primary-color !important;
}

.title {
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.subtitle {
  color: black;
  font-size: 14px;
}

.content {
  font-size: 14px;
  color: black;

  &.scrop {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: 250px;
  }
}

